<!-- Angular material sidebar -->
<div class="side-actions">
    <!-- Angular Material list -->
    <mat-list role="list">
        <mat-list-item role="listitem">
            <mat-icon class="icon">notes</mat-icon>
            Notes
        </mat-list-item>
        <mat-list-item role="listitem">
            <mat-icon class="icon">add_alert</mat-icon>
            Reminders
        </mat-list-item>
    </mat-list>
    <!--Angular Material divider:Just like a line  -->
    <mat-divider></mat-divider>
    <!-- Angular Material list -->
    <mat-list>
        <mat-list-item role="listitem">
            <mat-icon class="icon">edit</mat-icon>
            Edit labels
        </mat-list-item>
    </mat-list>
    <!--Angular Material divider:Just like a line  -->
    <mat-divider></mat-divider>
    <!-- Angular Material list -->
    <mat-list role="list">
        <mat-list-item role="listitem">
            <mat-icon class="icon">archive</mat-icon>
            Archive
        </mat-list-item>
        <mat-list-item role="listitem">
            <mat-icon class="icon">delete</mat-icon>
            Trash
        </mat-list-item>
    </mat-list>
</div>